In [255]:
import pandas as pd
import numpy as np

In [256]:
parts_data = pd.read_csv('/Users/skylerwilson/Desktop/Lighthouse_Labs/Projects/final_project/all_parts_data.csv')

In [257]:
parts_data = parts_data.dropna(axis=1, how='all')
parts_data = parts_data.dropna(how='all')

In [258]:
parts_data.rename(columns={
    'Active Price': 'Price',
    'On Hand ': 'Quantity',
    'Sales Last - ': 'Sales Last Year - Jan',
    'Sales Last - .1': 'Sales Last Year - Feb', 
    'Sales Last - .2': 'Sales Last Year - Mar', 
    'Sales Last - .3': 'Sales Last Year - Apr', 
    'Sales Last - .4': 'Sales Last Year - May', 
    'Sales Last - .5': 'Sales Last Year - Jun', 
    'Sales Last - .6': 'Sales Last Year - Jul', 
    'Sales Last - .7': 'Sales Last Year - Aug', 
    'Sales Last - .8': 'Sales Last Year - Sep', 
    'Sales Last - .9': 'Sales Last Year - Oct', 
    'Sales Last - .10': 'Sales Last Year - Nov', 
    'Sales Lasts ': 'Last Year Total Sales', 
    'Sales This - ': 'Sales - Jan',
    'Sales This - .1': 'Sales - Feb',
    'Sales This - .2': 'Sales - Mar',
    'Sales This - .3': 'Sales - Apr',
    'Sales This - .4': 'Sales - May',
    'Sales This - .5': 'Sales - Jun',
    'Sales This - .6': 'Sales - Jul',
    'Sales This - .7': 'Sales - Aug',
    'Sales This - .8': 'Sales - Sep',
    'Sales This - .9': 'Sales - Oct',
    'Sales This - .10': 'Sales - Nov',
    'Sales This ': 'Total Sales', 
    'Qty Sold Last ': 'Sales Last Week', 
    'Qty Sold Last .1': 'Sales Last 2 Weeks', 
    'Qty Sold Last .2': 'Sales Last Month', 
    'Qty Sold Last .3': 'Sales Last 3 Months', 
    'Qty Sold Last .4': 'Sales Last 6 Months', 
    'Qty Sold Last .5': 'Sales Last 9 Months', 
    'Qty Sold Last .6': 'Sales Last 12 Months', 
    'Qty Sold Last .7': 'Sales Last 2 Years', 
    'Qty Sold Last .8': 'Sales Last 3 Years', 
    'Qty Sold Last .9': 'Sales Last 4 Years', 
    'Qty Sold Last .10': 'Sales Last 5 Years'
}, inplace=True)

parts_data.columns

Index(['Part Number', 'Price', 'Margin', 'Quantity', 'Sales Last Year - Jan',
       'Sales Last Year - Feb', 'Sales Last Year - Mar',
       'Sales Last Year - Apr', 'Sales Last Year - May',
       'Sales Last Year - Jun', 'Sales Last Year - Jul',
       'Sales Last Year - Aug', 'Sales Last Year - Sep',
       'Sales Last Year - Oct', 'Sales Last Year - Nov',
       'Last Year Total Sales', 'Sales - Jan', 'Sales - Feb', 'Sales - Mar',
       'Sales - Apr', 'Sales - May', 'Sales - Jun', 'Sales - Jul',
       'Sales - Aug', 'Sales - Sep', 'Sales - Oct', 'Sales - Nov',
       'Total Sales', 'Sales Last Week', 'Sales Last 2 Weeks',
       'Sales Last Month', 'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 'Sales Last 2 Years',
       'Sales Last 3 Years', 'Sales Last 4 Years', 'Sales Last 5 Years'],
      dtype='object')

In [259]:
parts_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68902 entries, 0 to 70779
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Part Number            68901 non-null  object
 1   Price                  68901 non-null  object
 2   Margin                 68901 non-null  object
 3   Quantity               68901 non-null  float64
 4   Sales Last Year - Jan  68901 non-null  float64
 5   Sales Last Year - Feb  68901 non-null  float64
 6   Sales Last Year - Mar  68901 non-null  float64
 7   Sales Last Year - Apr  68901 non-null  float64
 8   Sales Last Year - May  68901 non-null  float64
 9   Sales Last Year - Jun  68901 non-null  float64
 10  Sales Last Year - Jul  68901 non-null  float64
 11  Sales Last Year - Aug  68901 non-null  float64
 12  Sales Last Year - Sep  68901 non-null  float64
 13  Sales Last Year - Oct  68901 non-null  float64
 14  Sales Last Year - Nov  68901 non-null  float64
 15  Last Year Total Sales  68901 non-null  float64
 16  Sales - Jan            68901 non-null  float64
 17  Sales - Feb            68901 non-null  float64
 18  Sales - Mar            68901 non-null  float64
 19  Sales - Apr            68901 non-null  float64
 20  Sales - May            68901 non-null  float64
 21  Sales - Jun            68901 non-null  float64
 22  Sales - Jul            68901 non-null  float64
 23  Sales - Aug            68901 non-null  float64
 24  Sales - Sep            68901 non-null  float64
 25  Sales - Oct            68901 non-null  float64
 26  Sales - Nov            68901 non-null  float64
 27  Total Sales            68901 non-null  float64
 28  Sales Last Week        68901 non-null  float64
 29  Sales Last 2 Weeks     68901 non-null  float64
 30  Sales Last Month       68901 non-null  float64
 31  Sales Last 3 Months    68901 non-null  float64
 32  Sales Last 6 Months    68901 non-null  float64
 33  Sales Last 9 Months    68901 non-null  float64
 34  Sales Last 12 Months   68901 non-null  float64
 35  Sales Last 2 Years     68901 non-null  float64
 36  Sales Last 3 Years     68901 non-null  float64
 37  Sales Last 4 Years     68901 non-null  float64
 38  Sales Last 5 Years     68901 non-null  float64
dtypes: float64(36), object(3)
memory usage: 21.0+ MB

In [260]:
# Remove commas and convert 'Price' and 'Margin' columns to float
parts_data['Price'] = parts_data['Price'].str.replace(',', '').astype(float)
parts_data['Margin'] = parts_data['Margin'].str.replace(',', '').astype(float)

In [261]:
parts_data['Cost Per Unit'] = parts_data['Price'] - parts_data['Margin']

In [262]:
parts_data['Total Cost'] = parts_data['Cost Per Unit'] * abs(parts_data['Quantity'])

In [263]:
parts_data['Margin %'] = round((parts_data['Margin'] / parts_data['Price']) * 100, 2)

In [264]:
parts_data['Obsolete'] = parts_data['Sales Last 12 Months'].apply(lambda x: 1 if x == 0 else 0)

In [265]:
parts_data.dtypes

Part Number               object
Price                    float64
Margin                   float64
Quantity                 float64
Sales Last Year - Jan    float64
Sales Last Year - Feb    float64
Sales Last Year - Mar    float64
Sales Last Year - Apr    float64
Sales Last Year - May    float64
Sales Last Year - Jun    float64
Sales Last Year - Jul    float64
Sales Last Year - Aug    float64
Sales Last Year - Sep    float64
Sales Last Year - Oct    float64
Sales Last Year - Nov    float64
Last Year Total Sales    float64
Sales - Jan              float64
Sales - Feb              float64
Sales - Mar              float64
Sales - Apr              float64
Sales - May              float64
Sales - Jun              float64
Sales - Jul              float64
Sales - Aug              float64
Sales - Sep              float64
Sales - Oct              float64
Sales - Nov              float64
Total Sales              float64
Sales Last Week          float64
Sales Last 2 Weeks       float64
Sales Last Month         float64
Sales Last 3 Months      float64
Sales Last 6 Months      float64
Sales Last 9 Months      float64
Sales Last 12 Months     float64
Sales Last 2 Years       float64
Sales Last 3 Years       float64
Sales Last 4 Years       float64
Sales Last 5 Years       float64
Cost Per Unit            float64
Total Cost               float64
Margin %                 float64
Obsolete                   int64
dtype: object

In [266]:
parts_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68902 entries, 0 to 70779
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Part Number            68901 non-null  object
 1   Price                  68901 non-null  float64
 2   Margin                 68901 non-null  float64
 3   Quantity               68901 non-null  float64
 4   Sales Last Year - Jan  68901 non-null  float64
 5   Sales Last Year - Feb  68901 non-null  float64
 6   Sales Last Year - Mar  68901 non-null  float64
 7   Sales Last Year - Apr  68901 non-null  float64
 8   Sales Last Year - May  68901 non-null  float64
 9   Sales Last Year - Jun  68901 non-null  float64
 10  Sales Last Year - Jul  68901 non-null  float64
 11  Sales Last Year - Aug  68901 non-null  float64
 12  Sales Last Year - Sep  68901 non-null  float64
 13  Sales Last Year - Oct  68901 non-null  float64
 14  Sales Last Year - Nov  68901 non-null  float64
 15  Last Year Total Sales  68901 non-null  float64
 16  Sales - Jan            68901 non-null  float64
 17  Sales - Feb            68901 non-null  float64
 18  Sales - Mar            68901 non-null  float64
 19  Sales - Apr            68901 non-null  float64
 20  Sales - May            68901 non-null  float64
 21  Sales - Jun            68901 non-null  float64
 22  Sales - Jul            68901 non-null  float64
 23  Sales - Aug            68901 non-null  float64
 24  Sales - Sep            68901 non-null  float64
 25  Sales - Oct            68901 non-null  float64
 26  Sales - Nov            68901 non-null  float64
 27  Total Sales            68901 non-null  float64
 28  Sales Last Week        68901 non-null  float64
 29  Sales Last 2 Weeks     68901 non-null  float64
 30  Sales Last Month       68901 non-null  float64
 31  Sales Last 3 Months    68901 non-null  float64
 32  Sales Last 6 Months    68901 non-null  float64
 33  Sales Last 9 Months    68901 non-null  float64
 34  Sales Last 12 Months   68901 non-null  float64
 35  Sales Last 2 Years     68901 non-null  float64
 36  Sales Last 3 Years     68901 non-null  float64
 37  Sales Last 4 Years     68901 non-null  float64
 38  Sales Last 5 Years     68901 non-null  float64
 39  Cost Per Unit          68901 non-null  float64
 40  Total Cost             68901 non-null  float64
 41  Margin %               68399 non-null  float64
 42  Obsolete               68902 non-null  int64
dtypes: float64(41), int64(1), object(1)
memory usage: 23.1+ MB

In [267]:
parts_data.dropna(subset=['Part Number'], inplace=True)

In [268]:
parts_data.dropna(subset=['Price'], inplace=True)
parts_data.drop(parts_data[parts_data['Price'] == 0].index, inplace=True)
parts_data.isna().value_counts()

Part Number  Price  Margin  Quantity  Sales Last Year - Jan  Sales Last Year - Feb  Sales Last Year - Mar  Sales Last Year - Apr  Sales Last Year - May  Sales Last Year - Jun  Sales Last Year - Jul  Sales Last Year - Aug  Sales Last Year - Sep  Sales Last Year - Oct  Sales Last Year - Nov  Last Year Total Sales  Sales - Jan  Sales - Feb  Sales - Mar  Sales - Apr  Sales - May  Sales - Jun  Sales - Jul  Sales - Aug  Sales - Sep  Sales - Oct  Sales - Nov  Total Sales  Sales Last Week  Sales Last 2 Weeks  Sales Last Month  Sales Last 3 Months  Sales Last 6 Months  Sales Last 9 Months  Sales Last 12 Months  Sales Last 2 Years  Sales Last 3 Years  Sales Last 4 Years  Sales Last 5 Years  Cost Per Unit  Total Cost  Margin %  Obsolete
False        False  False   False     False                  False                  False                  False                  False                  False                  False                  False                  False                  False                  False                  False                  False        False        False        False        False        False        False        False        False        False        False        False        False            False               False             False                False                False                False                 False               False               False               False               False          False       False     False       68275
dtype: int64

In [280]:
#drop all parts where quantity is 0 or less
parts_data.drop(parts_data[parts_data['Quantity'] <= 0].index, inplace=True)

In [270]:
parts_data.columns

Index(['Part Number', 'Price', 'Margin', 'Quantity', 'Sales Last Year - Jan',
       'Sales Last Year - Feb', 'Sales Last Year - Mar',
       'Sales Last Year - Apr', 'Sales Last Year - May',
       'Sales Last Year - Jun', 'Sales Last Year - Jul',
       'Sales Last Year - Aug', 'Sales Last Year - Sep',
       'Sales Last Year - Oct', 'Sales Last Year - Nov',
       'Last Year Total Sales', 'Sales - Jan', 'Sales - Feb', 'Sales - Mar',
       'Sales - Apr', 'Sales - May', 'Sales - Jun', 'Sales - Jul',
       'Sales - Aug', 'Sales - Sep', 'Sales - Oct', 'Sales - Nov',
       'Total Sales', 'Sales Last Week', 'Sales Last 2 Weeks',
       'Sales Last Month', 'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 'Sales Last 2 Years',
       'Sales Last 3 Years', 'Sales Last 4 Years', 'Sales Last 5 Years',
       'Cost Per Unit', 'Total Cost', 'Margin %', 'Obsolete'],
      dtype='object')

In [271]:
#convert integer columns to int8 to save memory
convert_cols = ['Quantity', 'Sales Last Year - Jan',
       'Sales Last Year - Feb', 'Sales Last Year - Mar',
       'Sales Last Year - Apr', 'Sales Last Year - May',
       'Sales Last Year - Jun', 'Sales Last Year - Jul',
       'Sales Last Year - Aug', 'Sales Last Year - Sep',
       'Sales Last Year - Oct', 'Sales Last Year - Nov',
       'Last Year Total Sales', 'Sales - Jan', 'Sales - Feb', 'Sales - Mar',
       'Sales - Apr', 'Sales - May', 'Sales - Jun', 'Sales - Jul',
       'Sales - Aug', 'Sales - Sep', 'Sales - Oct', 'Sales - Nov',
       'Total Sales', 'Sales Last Week', 'Sales Last 2 Weeks',
       'Sales Last Month', 'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 'Sales Last 2 Years',
       'Sales Last 3 Years', 'Sales Last 4 Years', 'Sales Last 5 Years', 'Obsolete']

parts_data[convert_cols] = parts_data[convert_cols].astype('int8')

In [272]:
parts_data.dtypes

Part Number               object
Price                    float64
Margin                   float64
Quantity                    int8
Sales Last Year - Jan       int8
Sales Last Year - Feb       int8
Sales Last Year - Mar       int8
Sales Last Year - Apr       int8
Sales Last Year - May       int8
Sales Last Year - Jun       int8
Sales Last Year - Jul       int8
Sales Last Year - Aug       int8
Sales Last Year - Sep       int8
Sales Last Year - Oct       int8
Sales Last Year - Nov       int8
Last Year Total Sales       int8
Sales - Jan                 int8
Sales - Feb                 int8
Sales - Mar                 int8
Sales - Apr                 int8
Sales - May                 int8
Sales - Jun                 int8
Sales - Jul                 int8
Sales - Aug                 int8
Sales - Sep                 int8
Sales - Oct                 int8
Sales - Nov                 int8
Total Sales                 int8
Sales Last Week             int8
Sales Last 2 Weeks          int8
Sales Last Month            int8
Sales Last 3 Months         int8
Sales Last 6 Months         int8
Sales Last 9 Months         int8
Sales Last 12 Months        int8
Sales Last 2 Years          int8
Sales Last 3 Years          int8
Sales Last 4 Years          int8
Sales Last 5 Years          int8
Cost Per Unit            float64
Total Cost               float64
Margin %                 float64
Obsolete                    int8
dtype: object

In [284]:
parts_data.head(10)

,Part Number,Price,Margin,Quantity,Sales Last Year - Jan,Sales Last Year - Feb,Sales Last Year - Mar,Sales Last Year - Apr,Sales Last Year - May,Sales Last Year - Jun,...,Sales Last 9 Months,Sales Last 12 Months,Sales Last 2 Years,Sales Last 3 Years,Sales Last 4 Years,Sales Last 5 Years,Cost Per Unit,Total Cost,Margin %,Obsolete
317,04-103A,0.99,0.35,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.64,0.64,35.35,1
322,04-134,0.99,0.35,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0.64,5.12,35.35,1
323,04-135,2.99,1.43,5,0,0,0,0,0,0,...,0,0,0,0,1,1,1.56,7.80,47.83,1
324,04-136A,4.99,-2.23,1,0,0,0,0,0,0,...,0,0,0,0,0,0,7.22,7.22,-44.69,1
325,04-137,4.99,-1.85,3,0,0,0,0,0,0,...,0,0,0,0,0,0,6.84,20.52,-37.07,1
326,04-144,0.99,0.18,11,0,0,0,0,0,0,...,0,0,0,1,5,14,0.81,8.91,18.18,1
327,04-147,5.99,2.27,1,0,0,0,0,0,0,...,0,0,0,0,0,0,3.72,3.72,37.90,1
331,04-156,14.99,6.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,8.99,8.99,40.03,1
333,04-166,2.99,1.05,2,0,0,0,0,0,0,...,0,0,0,0,0,0,1.94,3.88,35.12,1
342,04-2157,14.99,0.05,2,0,0,0,0,0,0,...,0,0,0,0,0,0,14.94,29.88,0.33,1

In [293]:
cols_check = ['Sales Last Year - Jan',
       'Sales Last Year - Feb', 'Sales Last Year - Mar',
       'Sales Last Year - Apr', 'Sales Last Year - May',
       'Sales Last Year - Jun', 'Sales Last Year - Jul',
       'Sales Last Year - Aug', 'Sales Last Year - Sep',
       'Sales Last Year - Oct', 'Sales Last Year - Nov',
       'Last Year Total Sales', 'Sales - Jan', 'Sales - Feb', 'Sales - Mar',
       'Sales - Apr', 'Sales - May', 'Sales - Jun', 'Sales - Jul',
       'Sales - Aug', 'Sales - Sep', 'Sales - Oct', 'Sales - Nov',
       'Total Sales', 'Sales Last Week', 'Sales Last 2 Weeks',
       'Sales Last Month', 'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 'Sales Last 2 Years',
       'Sales Last 3 Years', 'Sales Last 4 Years', 'Sales Last 5 Years']

data_mask = parts_data[cols_check] < 0
parts_data_with_negative = parts_data[data_mask.any(axis=1)]
parts_data_with_negative.head(43)
parts_data_with_negative.to_csv('negative_sales.csv')

In [285]:
parts_data.isna().value_counts()

Part Number  Price  Margin  Quantity  Sales Last Year - Jan  Sales Last Year - Feb  Sales Last Year - Mar  Sales Last Year - Apr  Sales Last Year - May  Sales Last Year - Jun  Sales Last Year - Jul  Sales Last Year - Aug  Sales Last Year - Sep  Sales Last Year - Oct  Sales Last Year - Nov  Last Year Total Sales  Sales - Jan  Sales - Feb  Sales - Mar  Sales - Apr  Sales - May  Sales - Jun  Sales - Jul  Sales - Aug  Sales - Sep  Sales - Oct  Sales - Nov  Total Sales  Sales Last Week  Sales Last 2 Weeks  Sales Last Month  Sales Last 3 Months  Sales Last 6 Months  Sales Last 9 Months  Sales Last 12 Months  Sales Last 2 Years  Sales Last 3 Years  Sales Last 4 Years  Sales Last 5 Years  Cost Per Unit  Total Cost  Margin %  Obsolete
False        False  False   False     False                  False                  False                  False                  False                  False                  False                  False                  False                  False                  False                  False                  False        False        False        False        False        False        False        False        False        False        False        False        False            False               False             False                False                False                False                 False               False               False               False               False          False       False     False       11990
dtype: int64

In [282]:
#how much of the inventory is obsolete and how much is it costing us
obsolete_count = (parts_data['Obsolete'].value_counts() / len(parts_data['Obsolete'])) * 100
print('Obsolete inventory percentage count:')
print(obsolete_count)

obsolete_cost = round(parts_data[parts_data['Obsolete'] == 1]['Total Cost'].sum(), 2)
print(f'Obsolete Total Cost: ${obsolete_cost}')

non_obsolete_cost = round(parts_data[parts_data['Obsolete'] == 0]['Total Cost'].sum(), 2)
print(f'Non-obsolete Cost: ${non_obsolete_cost}')


#average margin
avg_margin = parts_data['Margin %'].mean()
print(f'Average Margin: {avg_margin}')

Obsolete inventory percentage count:
1    70.642202
0    29.357798
Name: Obsolete, dtype: float64
Obsolete Total Cost: $1008545.32
Non-obsolete Cost: $726487.86
Average Margin: 42.129766472060055

In [276]:
#parts_data.to_csv('cleaned_parts_data.csv')