In [624]:
import pandas as pd
import numpy as np

In [625]:
parts_data = pd.read_csv('/Users/skylerwilson/Desktop/Lighthouse_Labs/Projects/final_project/data/Parts_Analysis.csv')
monthly_data = pd.read_csv('/Users/skylerwilson/Desktop/Lighthouse_Labs/Projects/final_project/data/Parts Inventory - Parts Sales History By Month.csv')

In [626]:
parts_data = parts_data.dropna(axis=1, how='all')
parts_data = parts_data.dropna(how='all')

monthly_data = monthly_data.dropna(axis=1, how='all')
monthly_data = monthly_data.dropna(how='all')

In [627]:
print(f'Monthly Data: {monthly_data.shape}')
print(f'Parts Data: {parts_data.shape}')

Monthly Data: (68936, 28)
Parts Data: (68936, 21)

In [628]:
parts_data.head()

,Part Number,Category,Description,Supplier Name,Margin %,Margin,Active Price,On Hand,Qty Sold Last,Qty Sold Last .1,...,Qty Sold Last .3,Qty Sold Last .4,Qty Sold Last .5,Qty Sold Last .6,Qty Sold Last .7,Qty Sold Last .8,Qty Sold Last .9,Qty Sold Last .10,Qty Sold Last .11,Months No
0,001-4218,ACC,HONDA GL1100 80-83 4-2 TURN-,MC DISTRIBUTING,35.09%,235.1,669.95,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,001-608,ACC,PIG TAIL SOCKET SINGL,MOTO,46.17%,2.53,5.48,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1208,ACL,ICON MOTORHEAD 2XL,PARTS CANADA/POWER TWINS,35.00%,171.52,489.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1306,ACL,"ICON BURNER LEATHER JACKET,",PARTS CANADA/POWER TWINS,63.43%,399,629,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2634,ACL,"STRONGARM PANT, 34",PARTS CANADA/POWER TWINS,40.44%,48.52,119.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [629]:
parts_data.columns

Index(['Part Number', 'Category', 'Description', 'Supplier Name', 'Margin %',
       'Margin', 'Active Price', 'On Hand ', 'Qty Sold Last ',
       'Qty Sold Last .1', 'Qty Sold Last .2', 'Qty Sold Last .3',
       'Qty Sold Last .4', 'Qty Sold Last .5', 'Qty Sold Last .6',
       'Qty Sold Last .7', 'Qty Sold Last .8', 'Qty Sold Last .9',
       'Qty Sold Last .10', 'Qty Sold Last .11', 'Months No '],
      dtype='object')

In [630]:
monthly_data.columns

Index(['Part Number', 'Description', 'Jan', 'Last Jan', 'Feb', 'Last Feb',
       'Mar', 'Last Mar', 'Apr', 'Last Apr', 'May', 'Last May', 'Jun',
       'Last Jun', 'Jul', 'Last Jul', 'Aug', 'Last Aug', 'Sept', 'Last Sept',
       'Oct', 'Last Oct', 'Nov', 'Last Nov', 'Dec', 'Last Dec', 'This Year',
       'Last Year'],
      dtype='object')

In [631]:
parts_data.rename(columns={
    'Active Price': 'Price',
    'On Hand ': 'Quantity',
    'Qty Sold Last ': 'Sales Last Week', 
    'Qty Sold Last .1': 'Sales Last 2 Weeks', 
    'Qty Sold Last .2': 'Sales Last Month', 
    'Qty Sold Last .3': 'Sales Last 3 Months', 
    'Qty Sold Last .4': 'Sales Last 6 Months', 
    'Qty Sold Last .5': 'Sales Last 9 Months', 
    'Qty Sold Last .6': 'Sales Last 12 Months', 
    'Qty Sold Last .7': 'Sales Last 2 Years', 
    'Qty Sold Last .8': 'Sales Last 3 Years', 
    'Qty Sold Last .9': 'Sales Last 4 Years', 
    'Qty Sold Last .10': 'Sales Last 5 Years',
    'Qty Sold Last .11': 'Sales Last 10 Years', 
    'Months No ': 'Months No Sale'
}, inplace=True)

parts_data.columns

Index(['Part Number', 'Category', 'Description', 'Supplier Name', 'Margin %',
       'Margin', 'Price', 'Quantity', 'Sales Last Week', 'Sales Last 2 Weeks',
       'Sales Last Month', 'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 'Sales Last 2 Years',
       'Sales Last 3 Years', 'Sales Last 4 Years', 'Sales Last 5 Years',
       'Sales Last 10 Years', 'Months No Sale'],
      dtype='object')

In [632]:
parts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68936 entries, 0 to 68935
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Part Number           68935 non-null  object
 1   Category              68935 non-null  object
 2   Description           68927 non-null  object
 3   Supplier Name         68935 non-null  object
 4   Margin %              68935 non-null  object
 5   Margin                68935 non-null  object
 6   Price                 68935 non-null  object
 7   Quantity              68935 non-null  float64
 8   Sales Last Week       68935 non-null  float64
 9   Sales Last 2 Weeks    68935 non-null  float64
 10  Sales Last Month      68935 non-null  float64
 11  Sales Last 3 Months   68935 non-null  float64
 12  Sales Last 6 Months   68935 non-null  float64
 13  Sales Last 9 Months   68935 non-null  float64
 14  Sales Last 12 Months  68935 non-null  float64
 15  Sales Last 2 Years    68935 non-null  float64
 16  Sales Last 3 Years    68935 non-null  float64
 17  Sales Last 4 Years    68935 non-null  float64
 18  Sales Last 5 Years    68935 non-null  float64
 19  Sales Last 10 Years   68935 non-null  float64
 20  Months No Sale        68935 non-null  float64
dtypes: float64(14), object(7)
memory usage: 11.0+ MB

In [633]:
monthly_data.drop(columns=['Description'], inplace=True)

In [634]:
monthly_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68936 entries, 0 to 68935
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Part Number  68935 non-null  object
 1   Jan          68935 non-null  float64
 2   Last Jan     68935 non-null  float64
 3   Feb          68935 non-null  float64
 4   Last Feb     68935 non-null  float64
 5   Mar          68935 non-null  float64
 6   Last Mar     68935 non-null  float64
 7   Apr          68935 non-null  float64
 8   Last Apr     68935 non-null  float64
 9   May          68935 non-null  float64
 10  Last May     68935 non-null  float64
 11  Jun          68935 non-null  float64
 12  Last Jun     68935 non-null  float64
 13  Jul          68935 non-null  float64
 14  Last Jul     68935 non-null  float64
 15  Aug          68935 non-null  float64
 16  Last Aug     68935 non-null  float64
 17  Sept         68935 non-null  float64
 18  Last Sept    68935 non-null  float64
 19  Oct          68935 non-null  float64
 20  Last Oct     68935 non-null  float64
 21  Nov          68935 non-null  float64
 22  Last Nov     68935 non-null  float64
 23  Dec          68935 non-null  float64
 24  Last Dec     68935 non-null  float64
 25  This Year    68935 non-null  float64
 26  Last Year    68935 non-null  float64
dtypes: float64(26), object(1)
memory usage: 14.2+ MB

In [635]:
#merge the two data sets together
parts_data = pd.merge(parts_data, monthly_data, on='Part Number')

In [636]:
parts_data = parts_data.rename(columns={
    'Jan': 'Sales - Jan',
    'Last Jan': 'Sales - Last Jan',
    'Feb': 'Sales - Feb', 
    'Last Feb': 'Sales - Last Feb',
    'Mar': 'Sales - Mar', 
    'Last Mar': 'Sales - Last Mar',
    'Apr': 'Sales - Apr', 
    'Last Apr': 'Sales - Last Apr',
    'May': 'Sales - May', 
    'Last May': 'Sales - Last May',
    'Jun': 'Sales - Jun', 
    'Last Jun': 'Sales - Last Jun',
    'Jul': 'Sales - Jul', 
    'Last Jul': 'Sales - Last Jul',
    'Aug': 'Sales - Aug', 
    'Last Aug': 'Sales - Last Aug',
    'Sept': 'Sales - Sept', 
    'Last Sept': 'Sales - Last Sept',
    'Oct': 'Sales - Oct', 
    'Last Oct': 'Sales - Last Oct',
    'Nov': 'Sales - Nov', 
    'Last Nov': 'Sales - Last Nov',
    'Dec': 'Sales - Dec', 
    'Last Dec': 'Sales - Last Dec',
    'Last Year': 'Last Year Total Sales',
    'This Year': 'Total Sales'
})

In [637]:
parts_data.columns

Index(['Part Number', 'Category', 'Description', 'Supplier Name', 'Margin %',
       'Margin', 'Price', 'Quantity', 'Sales Last Week', 'Sales Last 2 Weeks',
       'Sales Last Month', 'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 'Sales Last 2 Years',
       'Sales Last 3 Years', 'Sales Last 4 Years', 'Sales Last 5 Years',
       'Sales Last 10 Years', 'Months No Sale', 'Sales - Jan',
       'Sales - Last Jan', 'Sales - Feb', 'Sales - Last Feb', 'Sales - Mar',
       'Sales - Last Mar', 'Sales - Apr', 'Sales - Last Apr', 'Sales - May',
       'Sales - Last May', 'Sales - Jun', 'Sales - Last Jun', 'Sales - Jul',
       'Sales - Last Jul', 'Sales - Aug', 'Sales - Last Aug', 'Sales - Sept',
       'Sales - Last Sept', 'Sales - Oct', 'Sales - Last Oct', 'Sales - Nov',
       'Sales - Last Nov', 'Sales - Dec', 'Sales - Last Dec', 'Total Sales',
       'Last Year Total Sales'],
      dtype='object')

In [638]:
parts_data[['Part Number', 'Description','Price', 'Margin', 'Quantity','Sales Last Month', 'Sales Last 3 Months',
       'Sales Last 6 Months', 'Sales Last 9 Months','Sales Last 12 Months']]

,Part Number,Description,Price,Margin,Quantity,Sales Last Month,Sales Last 3 Months,Sales Last 6 Months,Sales Last 9 Months,Sales Last 12 Months
0,001-4218,HONDA GL1100 80-83 4-2 TURN-,669.95,235.1,0.0,0.0,0.0,0.0,0.0,0.0
1,001-608,PIG TAIL SOCKET SINGL,5.48,2.53,0.0,0.0,0.0,0.0,0.0,0.0
2,1208,ICON MOTORHEAD 2XL,489.99,171.52,0.0,0.0,0.0,0.0,0.0,0.0
3,1306,"ICON BURNER LEATHER JACKET,",629,399,0.0,0.0,0.0,0.0,0.0,0.0
4,2634,"STRONGARM PANT, 34",119.99,48.52,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
73791,61369207913,RELAY,33.99,13.94,1.0,0.0,0.0,0.0,0.0,0.0
73792,63217160777,BULB,13.99,6.71,2.0,1.0,2.0,2.0,2.0,2.0
73793,77338409969,"WINDSHIELD, HIGH",205.99,74.79,0.0,0.0,0.0,0.0,1.0,1.0
73794,77339444326,WINDSCREEN LARGE CLEAR,265.99,96.39,0.0,0.0,0.0,0.0,0.0,0.0
73795,Parts Inventory: 68935 records,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [639]:
parts_data['Sales - Dec'] = 0

In [640]:
# Remove commas and convert 'Price' and 'Margin' columns to float
parts_data['Price'] = parts_data['Price'].str.replace(',', '').astype(float)
parts_data['Margin'] = parts_data['Margin'].str.replace(',', '').astype(float)

In [641]:
parts_data['Cost Per Unit'] = parts_data['Price'] - parts_data['Margin']

In [642]:
parts_data['Total Cost'] = parts_data['Cost Per Unit'] * abs(parts_data['Quantity'])

In [643]:
parts_data.dtypes

Part Number               object
Category                  object
Description               object
Supplier Name             object
Margin %                  object
Margin                   float64
Price                    float64
Quantity                 float64
Sales Last Week          float64
Sales Last 2 Weeks       float64
Sales Last Month         float64
Sales Last 3 Months      float64
Sales Last 6 Months      float64
Sales Last 9 Months      float64
Sales Last 12 Months     float64
Sales Last 2 Years       float64
Sales Last 3 Years       float64
Sales Last 4 Years       float64
Sales Last 5 Years       float64
Sales Last 10 Years      float64
Months No Sale           float64
Sales - Jan              float64
Sales - Last Jan         float64
Sales - Feb              float64
Sales - Last Feb         float64
Sales - Mar              float64
Sales - Last Mar         float64
Sales - Apr              float64
Sales - Last Apr         float64
Sales - May              float64
Sales - Last May         float64
Sales - Jun              float64
Sales - Last Jun         float64
Sales - Jul              float64
Sales - Last Jul         float64
Sales - Aug              float64
Sales - Last Aug         float64
Sales - Sept             float64
Sales - Last Sept        float64
Sales - Oct              float64
Sales - Last Oct         float64
Sales - Nov              float64
Sales - Last Nov         float64
Sales - Dec                int64
Sales - Last Dec         float64
Total Sales              float64
Last Year Total Sales    float64
Cost Per Unit            float64
Total Cost               float64
dtype: object

In [644]:
parts_data.shape

(73796, 49)

In [645]:
parts_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73796 entries, 0 to 73795
Data columns (total 49 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Part Number            73795 non-null  object
 1   Category               73795 non-null  object
 2   Description            73787 non-null  object
 3   Supplier Name          73795 non-null  object
 4   Margin %               73795 non-null  object
 5   Margin                 73795 non-null  float64
 6   Price                  73795 non-null  float64
 7   Quantity               73795 non-null  float64
 8   Sales Last Week        73795 non-null  float64
 9   Sales Last 2 Weeks     73795 non-null  float64
 10  Sales Last Month       73795 non-null  float64
 11  Sales Last 3 Months    73795 non-null  float64
 12  Sales Last 6 Months    73795 non-null  float64
 13  Sales Last 9 Months    73795 non-null  float64
 14  Sales Last 12 Months   73795 non-null  float64
 15  Sales Last 2 Years     73795 non-null  float64
 16  Sales Last 3 Years     73795 non-null  float64
 17  Sales Last 4 Years     73795 non-null  float64
 18  Sales Last 5 Years     73795 non-null  float64
 19  Sales Last 10 Years    73795 non-null  float64
 20  Months No Sale         73795 non-null  float64
 21  Sales - Jan            73795 non-null  float64
 22  Sales - Last Jan       73795 non-null  float64
 23  Sales - Feb            73795 non-null  float64
 24  Sales - Last Feb       73795 non-null  float64
 25  Sales - Mar            73795 non-null  float64
 26  Sales - Last Mar       73795 non-null  float64
 27  Sales - Apr            73795 non-null  float64
 28  Sales - Last Apr       73795 non-null  float64
 29  Sales - May            73795 non-null  float64
 30  Sales - Last May       73795 non-null  float64
 31  Sales - Jun            73795 non-null  float64
 32  Sales - Last Jun       73795 non-null  float64
 33  Sales - Jul            73795 non-null  float64
 34  Sales - Last Jul       73795 non-null  float64
 35  Sales - Aug            73795 non-null  float64
 36  Sales - Last Aug       73795 non-null  float64
 37  Sales - Sept           73795 non-null  float64
 38  Sales - Last Sept      73795 non-null  float64
 39  Sales - Oct            73795 non-null  float64
 40  Sales - Last Oct       73795 non-null  float64
 41  Sales - Nov            73795 non-null  float64
 42  Sales - Last Nov       73795 non-null  float64
 43  Sales - Dec            73796 non-null  int64
 44  Sales - Last Dec       73795 non-null  float64
 45  Total Sales            73795 non-null  float64
 46  Last Year Total Sales  73795 non-null  float64
 47  Cost Per Unit          73795 non-null  float64
 48  Total Cost             73795 non-null  float64
dtypes: float64(43), int64(1), object(5)
memory usage: 28.2+ MB

In [646]:
parts_data.dropna(subset=['Part Number'], inplace=True)

In [647]:
parts_data.dropna(subset=['Price'], inplace=True)
parts_data.drop(parts_data[parts_data['Price'] == 0].index, inplace=True)
parts_data.isna().value_counts()

Part Number  Category  Description  Supplier Name  Margin %  Margin  Price  Quantity  Sales Last Week  Sales Last 2 Weeks  Sales Last Month  Sales Last 3 Months  Sales Last 6 Months  Sales Last 9 Months  Sales Last 12 Months  Sales Last 2 Years  Sales Last 3 Years  Sales Last 4 Years  Sales Last 5 Years  Sales Last 10 Years  Months No Sale  Sales - Jan  Sales - Last Jan  Sales - Feb  Sales - Last Feb  Sales - Mar  Sales - Last Mar  Sales - Apr  Sales - Last Apr  Sales - May  Sales - Last May  Sales - Jun  Sales - Last Jun  Sales - Jul  Sales - Last Jul  Sales - Aug  Sales - Last Aug  Sales - Sept  Sales - Last Sept  Sales - Oct  Sales - Last Oct  Sales - Nov  Sales - Last Nov  Sales - Dec  Sales - Last Dec  Total Sales  Last Year Total Sales  Cost Per Unit  Total Cost
False        False     False        False          False     False   False  False     False            False               False             False                False                False                False                 False               False               False               False               False                False           False        False             False        False             False        False             False        False             False        False             False        False             False        False             False        False             False         False              False        False             False        False             False        False             False        False                  False          False         73225
                       True         False          False     False   False  False     False            False               False             False                False                False                False                 False               False               False               False               False                False           False        False             False        False             False        False             False        False             False        False             False        False             False        False             False        False             False         False              False        False             False        False             False        False             False        False                  False          False             7
dtype: int64

In [648]:
parts_data.shape

(73232, 49)

In [649]:
parts_data[parts_data['Quantity'] <= 0].value_counts()

Part Number  Category  Description                Supplier Name             Margin %  Margin  Price   Quantity  Sales Last Week  Sales Last 2 Weeks  Sales Last Month  Sales Last 3 Months  Sales Last 6 Months  Sales Last 9 Months  Sales Last 12 Months  Sales Last 2 Years  Sales Last 3 Years  Sales Last 4 Years  Sales Last 5 Years  Sales Last 10 Years  Months No Sale  Sales - Jan  Sales - Last Jan  Sales - Feb  Sales - Last Feb  Sales - Mar  Sales - Last Mar  Sales - Apr  Sales - Last Apr  Sales - May  Sales - Last May  Sales - Jun  Sales - Last Jun  Sales - Jul  Sales - Last Jul  Sales - Aug  Sales - Last Aug  Sales - Sept  Sales - Last Sept  Sales - Oct  Sales - Last Oct  Sales - Nov  Sales - Last Nov  Sales - Dec  Sales - Last Dec  Total Sales  Last Year Total Sales  Cost Per Unit  Total Cost
8.29102E+11  ACL       WEEKEND (BOXER BRIEF)      MYPAKAGE                  49.98%    14.99   29.99   0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 0.0                  0.0             0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    15.00          0.0           154
                       WEEKDAY-GRY/SEA/YEL Lrg    MYPAKAGE                  50%       14.00   28.00   0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 2.0                  0.0             0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    14.00          0.0            77
                       WEEKDAY-BLACK/GREEN Sm     MYPAKAGE                  49.98%    12.49   24.99   0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 0.0                  0.0             0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    12.50          0.0            77
                       WEEKDAY-BLK/BLK Lrg        MYPAKAGE                  54.46%    13.61   24.99   0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 2.0                  0.0             0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    11.38          0.0            77
                                                                            50%       14.00   28.00   0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 9.0                  0.0             0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    14.00          0.0            77
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
3410-1487    ACC       BOOT COROZAL ADV WP BK 10  PARTS CANADA/POWER TWINS  38.15%    164.02  429.99  0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 1.0                  85.0            0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    265.97         0.0             1
3410-1488    ACC       BOOT COROZAL ADV WP BK 11  PARTS CANADA/POWER TWINS  25.01%    107.53  429.99  0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 0.0                  49.0            0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    322.46         0.0             1
3410-1499    ACC       BOOT TECH 1 BK/WT 13       PARTS CANADA/POWER TWINS  55.60%    138.99  249.99  0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 1.0                 1.0                  57.0            0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    111.00         0.0             1
3410-1500    ACC       BOOT TECH 1 BK/WT 14       PARTS CANADA/POWER TWINS  47.60%    118.99  249.99  0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 0.0                  72.0            0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    131.00         0.0             1
t3010108     ACC       Flanged Sleeve M6          Triumph Motorcycles       31.14%    0.90    2.89    0.0       0.0              0.0                 0.0               0.0                  0.0                  0.0                  0.0                   0.0                 0.0                 0.0                 0.0                 0.0                  4.0             0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0          0.0               0.0           0.0                0.0          0.0               0.0          0.0               0            0.0               0.0          0.0                    1.99           0.0             1
Length: 54589, dtype: int64

In [650]:
parts_data[parts_data['Quantity'] <= 0]

,Part Number,Category,Description,Supplier Name,Margin %,Margin,Price,Quantity,Sales Last Week,Sales Last 2 Weeks,...,Sales - Oct,Sales - Last Oct,Sales - Nov,Sales - Last Nov,Sales - Dec,Sales - Last Dec,Total Sales,Last Year Total Sales,Cost Per Unit,Total Cost
0,001-4218,ACC,HONDA GL1100 80-83 4-2 TURN-,MC DISTRIBUTING,35.09%,235.10,669.95,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,434.85,0.0
1,001-608,ACC,PIG TAIL SOCKET SINGL,MOTO,46.17%,2.53,5.48,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,2.95,0.0
2,1208,ACL,ICON MOTORHEAD 2XL,PARTS CANADA/POWER TWINS,35.00%,171.52,489.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,318.47,0.0
3,1306,ACL,"ICON BURNER LEATHER JACKET,",PARTS CANADA/POWER TWINS,63.43%,399.00,629.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,230.00,0.0
4,2634,ACL,"STRONGARM PANT, 34",PARTS CANADA/POWER TWINS,40.44%,48.52,119.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,71.47,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73779,26117721422,LM,DRIVE SHAFT,BMW Group Canada,24.04%,411.39,1710.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1299.60,0.0
73787,34112310483,LM,BRAKE DISK LEFT,BMW Group Canada,48.09%,267.39,555.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,288.60,0.0
73789,46638559971,LM,WINDSHIELD MATT,BMW Group Canada,36.15%,157.59,435.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,278.40,0.0
73793,77338409969,LM,"WINDSHIELD, HIGH",BMW Group Canada,36.31%,74.79,205.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,1.0,0.0,131.20,0.0
73794,77339444326,LM,WINDSCREEN LARGE CLEAR,BMW Group Canada,36.24%,96.39,265.99,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,169.60,0.0

In [651]:
#drop all parts where quantity is 0 or less
parts_mask = parts_data['Quantity'] <= 0
parts_data[parts_mask]
parts_data = parts_data.drop(parts_data[parts_mask].index)

In [652]:
parts_data.shape

(11960, 49)

In [653]:
print(parts_data.shape)
parts_data.columns

(11960, 49)

Index(['Part Number', 'Category', 'Description', 'Supplier Name', 'Margin %',
       'Margin', 'Price', 'Quantity', 'Sales Last Week', 'Sales Last 2 Weeks',
       'Sales Last Month', 'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 'Sales Last 2 Years',
       'Sales Last 3 Years', 'Sales Last 4 Years', 'Sales Last 5 Years',
       'Sales Last 10 Years', 'Months No Sale', 'Sales - Jan',
       'Sales - Last Jan', 'Sales - Feb', 'Sales - Last Feb', 'Sales - Mar',
       'Sales - Last Mar', 'Sales - Apr', 'Sales - Last Apr', 'Sales - May',
       'Sales - Last May', 'Sales - Jun', 'Sales - Last Jun', 'Sales - Jul',
       'Sales - Last Jul', 'Sales - Aug', 'Sales - Last Aug', 'Sales - Sept',
       'Sales - Last Sept', 'Sales - Oct', 'Sales - Last Oct', 'Sales - Nov',
       'Sales - Last Nov', 'Sales - Dec', 'Sales - Last Dec', 'Total Sales',
       'Last Year Total Sales', 'Cost Per Unit', 'Total Cost'],
      dtype='object')

In [654]:
parts_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11960 entries, 142 to 73792
Data columns (total 49 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Part Number            11960 non-null  object
 1   Category               11960 non-null  object
 2   Description            11960 non-null  object
 3   Supplier Name          11960 non-null  object
 4   Margin %               11960 non-null  object
 5   Margin                 11960 non-null  float64
 6   Price                  11960 non-null  float64
 7   Quantity               11960 non-null  float64
 8   Sales Last Week        11960 non-null  float64
 9   Sales Last 2 Weeks     11960 non-null  float64
 10  Sales Last Month       11960 non-null  float64
 11  Sales Last 3 Months    11960 non-null  float64
 12  Sales Last 6 Months    11960 non-null  float64
 13  Sales Last 9 Months    11960 non-null  float64
 14  Sales Last 12 Months   11960 non-null  float64
 15  Sales Last 2 Years     11960 non-null  float64
 16  Sales Last 3 Years     11960 non-null  float64
 17  Sales Last 4 Years     11960 non-null  float64
 18  Sales Last 5 Years     11960 non-null  float64
 19  Sales Last 10 Years    11960 non-null  float64
 20  Months No Sale         11960 non-null  float64
 21  Sales - Jan            11960 non-null  float64
 22  Sales - Last Jan       11960 non-null  float64
 23  Sales - Feb            11960 non-null  float64
 24  Sales - Last Feb       11960 non-null  float64
 25  Sales - Mar            11960 non-null  float64
 26  Sales - Last Mar       11960 non-null  float64
 27  Sales - Apr            11960 non-null  float64
 28  Sales - Last Apr       11960 non-null  float64
 29  Sales - May            11960 non-null  float64
 30  Sales - Last May       11960 non-null  float64
 31  Sales - Jun            11960 non-null  float64
 32  Sales - Last Jun       11960 non-null  float64
 33  Sales - Jul            11960 non-null  float64
 34  Sales - Last Jul       11960 non-null  float64
 35  Sales - Aug            11960 non-null  float64
 36  Sales - Last Aug       11960 non-null  float64
 37  Sales - Sept           11960 non-null  float64
 38  Sales - Last Sept      11960 non-null  float64
 39  Sales - Oct            11960 non-null  float64
 40  Sales - Last Oct       11960 non-null  float64
 41  Sales - Nov            11960 non-null  float64
 42  Sales - Last Nov       11960 non-null  float64
 43  Sales - Dec            11960 non-null  int64
 44  Sales - Last Dec       11960 non-null  float64
 45  Total Sales            11960 non-null  float64
 46  Last Year Total Sales  11960 non-null  float64
 47  Cost Per Unit          11960 non-null  float64
 48  Total Cost             11960 non-null  float64
dtypes: float64(43), int64(1), object(5)
memory usage: 4.6+ MB

In [655]:
parts_data['Obsolete'] = parts_data['Months No Sale'].apply(lambda x: 1 if x >= 12 else 0)

In [677]:
parts_data['Supplier Name'] = parts_data['Supplier Name'].str.lower()

In [678]:
part_num = '0711 9978 396'
supplier = 'bmw group canada'

parts_data.loc[parts_data['Part Number'] == part_num, 'Supplier Name'] = supplier
parts_data['Supplier Name'].value_counts()

bmw group canada                   3839
triumph motorcycles                2393
ducati                             1980
polaris acceptance                 1484
parts canada/power twins            493
motovan                             427
royal enfield                       292
kimpex                              261
thibault canada                     165
bell sports inc                      90
schuberth                            57
full bore                            54
klim                                 46
fundy textile and design ltd         44
island bmw                           39
wurth                                34
british imports motorcycles          33
suzuki                               30
clearwater lights                    26
out of the blue                      21
gamma sales inc.                     19
moto                                 17
zero motorcycles                     14
lordco                               14
action motorcycles / barnes          13
mc distributing                       9
bumper to bumper                      8
mavrick                               7
twisted throttle canada inc           5
beeline moto                          4
illium works                          4
wunderlich                            4
jb                                    3
sg power                              3
bayside performance                   2
british                               2
columbia promotions                   2
admore lights                         2
speigler                              2
shell canada                          2
cycle works motorsports               2
gravity motorcycles (tripfella        1
pazzo                                 1
mile zero motorsports ltd             1
motostarz                             1
gotham cycles                         1
blackpool - website                   1
polaris - indian motorcycle           1
earthtrack supply group               1
bt moto                               1
amazon order                          1
 vancouver island                     1
bn3th                                 1
j&p cycles                            1
honda                                 1
Name: Supplier Name, dtype: int64

In [ ]:
#convert things to main suppliers and other suppliers just to simplify, then one hot encode everything

In [672]:
parts_data['Category'].value_counts()

LM     2834
PM2    1927
ACC    1627
PM1    1573
BM      952
P09     696
TCL     467
TAC     354
P03     289
PAM     207
P50     194
P02     184
AHM     184
ACL     131
P10      55
ATR      47
PM3      43
DAC      43
X5       40
P04      22
PM5      16
P01      12
P08      12
ABT      10
P06      10
DCL       9
PGO       7
P75       6
P0        2
BML       2
P90       1
BMA       1
PM4       1
P11       1
AEX       1
Name: Category, dtype: int64

In [657]:
#convert integer columns to int8 to save memory
convert_cols = ['Quantity', 'Sales Last Week',
       'Sales Last 2 Weeks', 'Sales Last Month', 'Sales Last 3 Months',
       'Sales Last 6 Months', 'Sales Last 9 Months', 'Sales Last 12 Months',
       'Sales Last 2 Years', 'Sales Last 3 Years', 'Sales Last 4 Years',
       'Sales Last 5 Years', 'Sales Last 10 Years', 'Sales - Jan',
       'Sales - Last Jan', 'Sales - Feb', 'Sales - Last Feb', 'Sales - Mar',
       'Sales - Last Mar', 'Sales - Apr', 'Sales - Last Apr', 'Sales - May',
       'Sales - Last May', 'Sales - Jun', 'Sales - Last Jun', 'Sales - Jul',
       'Sales - Last Jul', 'Sales - Aug', 'Sales - Last Aug', 'Sales - Sept',
       'Sales - Last Sept', 'Sales - Oct', 'Sales - Last Oct', 'Sales - Nov',
       'Sales - Last Nov', 'Sales - Dec', 'Sales - Last Dec', 'Total Sales',
       'Last Year Total Sales', 'Obsolete', 'Months No Sale']

parts_data[convert_cols] = parts_data[convert_cols].astype('int8')

In [662]:
def calculate_sales_summary(parts_data):
    total = parts_data['Total Sales'].sum()
    cols_monthly = ['Sales - Jan', 'Sales - Feb', 'Sales - Mar',
                   'Sales - Apr', 'Sales - May', 'Sales - Jun', 'Sales - Jul',
                   'Sales - Aug', 'Sales - Sept', 'Sales - Oct', 'Sales - Nov', 'Sales - Dec']
    sum_total = parts_data[cols_monthly].sum().sum()
    print('this year:')
    print(f'total: {total}\nMonthly Sum: {sum_total}')

# Example usage:
# Assuming you have a DataFrame named 'parts_data'
calculate_sales_summary(parts_data)

this year:
total: 11178
Monthly Sum: 14729

In [663]:
def calculate_historical_sales_summary(parts_data):
       total = parts_data['Last Year Total Sales'].sum()
       cols_monthly = ['Sales - Last Jan',
              'Sales - Last Feb', 'Sales - Last Mar',
              'Sales - Last Apr', 'Sales - Last May',
              'Sales - Last Jun', 'Sales - Last Jul',
              'Sales - Last Aug', 'Sales - Last Sept',
              'Sales - Last Oct', 'Sales - Last Nov', 
              'Sales - Last Dec']

       sum_total = parts_data[cols_monthly].sum().sum()
       print('last year:')
       print(f'total: {total}\nMonthly Sum: {sum_total}')

calculate_historical_sales_summary(parts_data)

last year:
total: 5189
Monthly Sum: 7250

In [664]:
historical_cols = ['Sales - Last Jan',
       'Sales - Last Feb', 'Sales - Last Mar',
       'Sales - Last Apr', 'Sales - Last May',
       'Sales - Last Jun', 'Sales - Last Jul',
       'Sales - Last Aug', 'Sales - Last Sept',
       'Sales - Last Oct', 'Sales - Last Nov', 
       'Sales - Last Dec','Sales Last Week', 
       'Sales Last 2 Weeks','Sales Last Month', 
       'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 
       'Sales Last 2 Years','Sales Last 3 Years', 
       'Sales Last 4 Years', 'Sales Last 5 Years']

this_year_cols = ['Sales - Jan', 'Sales - Feb', 'Sales - Mar',
       'Sales - Apr', 'Sales - May', 'Sales - Jun', 'Sales - Jul',
       'Sales - Aug', 'Sales - Sept', 'Sales - Oct', 'Sales - Nov', 'Sales - Dec']


for col in historical_cols:
    # Extract the time frame (e.g., 'Jan', 'Feb', etc.) from the column name
    time_frame = col.split('-')[-1].strip()
    
    # Create a new column name for the sales volume (e.g., 'Sales Volume - Jan', 'Sales Volume - Feb', etc.)
    sales_volume_col = f'Sales Volume - {time_frame}'
    
    # Calculate the sales volume for the current time frame (Sales Volume = Quantity * Price)
    parts_data[sales_volume_col] = parts_data['Price'] * parts_data[col]
    

parts_data['Last Year Total Sales Volume'] = parts_data['Last Year Total Sales'] * parts_data['Price'] 

for col in this_year_cols:
    # Extract the time frame (e.g., 'Jan', 'Feb', etc.) from the column name
    time_frame = col.split('-')[-1].strip()
    
    # Create a new column name for the sales volume (e.g., 'Sales Volume - Jan', 'Sales Volume - Feb', etc.)
    sales_volume_col = f'Sales Volume - {time_frame}'
    
    # Calculate the sales volume for the current time frame (Sales Volume = Quantity * Price)
    parts_data[sales_volume_col] = parts_data['Price'] * parts_data[col]

parts_data['Total Sales Volume'] = parts_data['Total Sales'] * parts_data['Price']

In [665]:
#take the absolute value of all the sales data
"""
The reason there are negative sales numbers is to reflect inventory that was sold prior to being added correctly into the dealership ERP, 
this is common practice during busier months as volume dramatically increases and inventory can only be added to the system every so often.
Additionally, inventory counts occur 1 - 2 times a year which is why many of the issues such as this persist across time
"""

cols_check = ['Sales - Last Jan',
       'Sales - Last Feb', 'Sales - Last Mar',
       'Sales - Last Apr', 'Sales - Last May',
       'Sales - Last Jun', 'Sales - Last Jul',
       'Sales - Last Aug', 'Sales - Last Sept',
       'Sales - Last Oct', 'Sales - Last Nov', 
       'Sales - Last Dec','Last Year Total Sales', 
       'Sales - Jan', 'Sales - Feb', 'Sales - Mar',
       'Sales - Apr', 'Sales - May', 'Sales - Jun', 'Sales - Jul',
       'Sales - Aug', 'Sales - Sept', 'Sales - Oct', 'Sales - Nov', 'Sales - Dec',
       'Total Sales', 'Sales Last Week', 'Sales Last 2 Weeks',
       'Sales Last Month', 'Sales Last 3 Months', 'Sales Last 6 Months',
       'Sales Last 9 Months', 'Sales Last 12 Months', 'Sales Last 2 Years',
       'Sales Last 3 Years', 'Sales Last 4 Years', 'Sales Last 5 Years']


# Take the absolute value of the cols_check columns where negative values are present
parts_data[cols_check] = parts_data[cols_check].applymap(lambda x: abs(x) if x < 0 else x)
parts_data

,Part Number,Category,Description,Supplier Name,Margin %,Margin,Price,Quantity,Sales Last Week,Sales Last 2 Weeks,...,Sales Volume - Apr,Sales Volume - May,Sales Volume - Jun,Sales Volume - Jul,Sales Volume - Aug,Sales Volume - Sept,Sales Volume - Oct,Sales Volume - Nov,Sales Volume - Dec,Total Sales Volume
142,04-103A,ACC,6V-3A BULB,MOTOVAN,35.35%,0.35,0.99,1,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
145,04-136A,ACC,60/55W H4 P45T,MOTOVAN,-44.69%,-2.23,4.99,1,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
146,04-137,ACC,"BULB, H4, 35/35W",MOTOVAN,-37.07%,-1.85,4.99,3,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
147,04-144,ACC,"12V-3W, A194 {EACH BULB}",MOTOVAN,18.18%,0.18,0.99,11,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
152,04-166,ACC,"BULB 12V-35W A7275, BA20S",MOTOVAN,35.12%,1.05,2.99,2,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73786,33358533985,LM,CHAIN RAIL,BMW Group Canada,36.50%,22.99,62.99,1,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
73788,46637681887,LM,STICKER LEFT,BMW Group Canada,28.37%,26.95,94.99,1,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
73790,51912360754,LM,"TOUCH-UP STICK SET, CIP BLAC",BMW Group Canada,40.97%,24.99,60.99,1,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
73791,61369207913,BM,RELAY,BMW Group Canada,41.01%,13.94,33.99,1,0,0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00
73792,63217160777,X5,BULB,BMW Group Canada,47.96%,6.71,13.99,2,0,0,...,0.0,0.0,13.99,13.99,0.0,0.0,0.0,0.0,0.0,27.98

In [666]:
list(parts_data.columns)

['Part Number',
 'Category',
 'Description',
 'Supplier Name',
 'Margin %',
 'Margin',
 'Price',
 'Quantity',
 'Sales Last Week',
 'Sales Last 2 Weeks',
 'Sales Last Month',
 'Sales Last 3 Months',
 'Sales Last 6 Months',
 'Sales Last 9 Months',
 'Sales Last 12 Months',
 'Sales Last 2 Years',
 'Sales Last 3 Years',
 'Sales Last 4 Years',
 'Sales Last 5 Years',
 'Sales Last 10 Years',
 'Months No Sale',
 'Sales - Jan',
 'Sales - Last Jan',
 'Sales - Feb',
 'Sales - Last Feb',
 'Sales - Mar',
 'Sales - Last Mar',
 'Sales - Apr',
 'Sales - Last Apr',
 'Sales - May',
 'Sales - Last May',
 'Sales - Jun',
 'Sales - Last Jun',
 'Sales - Jul',
 'Sales - Last Jul',
 'Sales - Aug',
 'Sales - Last Aug',
 'Sales - Sept',
 'Sales - Last Sept',
 'Sales - Oct',
 'Sales - Last Oct',
 'Sales - Nov',
 'Sales - Last Nov',
 'Sales - Dec',
 'Sales - Last Dec',
 'Total Sales',
 'Last Year Total Sales',
 'Cost Per Unit',
 'Total Cost',
 'Obsolete',
 'Sales Volume - Last Jan',
 'Sales Volume - Last Feb',
 'Sales Volume - Last Mar',
 'Sales Volume - Last Apr',
 'Sales Volume - Last May',
 'Sales Volume - Last Jun',
 'Sales Volume - Last Jul',
 'Sales Volume - Last Aug',
 'Sales Volume - Last Sept',
 'Sales Volume - Last Oct',
 'Sales Volume - Last Nov',
 'Sales Volume - Last Dec',
 'Sales Volume - Sales Last Week',
 'Sales Volume - Sales Last 2 Weeks',
 'Sales Volume - Sales Last Month',
 'Sales Volume - Sales Last 3 Months',
 'Sales Volume - Sales Last 6 Months',
 'Sales Volume - Sales Last 9 Months',
 'Sales Volume - Sales Last 12 Months',
 'Sales Volume - Sales Last 2 Years',
 'Sales Volume - Sales Last 3 Years',
 'Sales Volume - Sales Last 4 Years',
 'Sales Volume - Sales Last 5 Years',
 'Last Year Total Sales Volume',
 'Sales Volume - Jan',
 'Sales Volume - Feb',
 'Sales Volume - Mar',
 'Sales Volume - Apr',
 'Sales Volume - May',
 'Sales Volume - Jun',
 'Sales Volume - Jul',
 'Sales Volume - Aug',
 'Sales Volume - Sept',
 'Sales Volume - Oct',
 'Sales Volume - Nov',
 'Sales Volume - Dec',
 'Total Sales Volume']

In [667]:
parts_data.to_csv('cleaned_parts_data.csv')