In [34]:
import keras as k
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import pandas as pd
from sklearn.cluster import AgglomerativeClustering

In [35]:
#read in service data
service_data = pd.read_csv('/Users/skylerwilson/Desktop/Lighthouse_Labs/Projects/final_project/data/Project_Data/service_cost.csv')
service_data.tail()

      Parts Cost  Labor Cost  Sublet Cost  Total Service Cost
2378           0        21.2            0                21.2
2379         169        9.01            0              178.01
2380         NaN         NaN          NaN                 NaN
2381  Parts Cost  Labor Cost  Sublet Cost  Total Service Cost
2382  584,706.66  179,157.58     4,532.98          768,397.22

In [36]:
index_to_drop_ = 2381
service_data.drop(index_to_drop_, axis=0, inplace=True)
index_to_drop = 2382
service_data.drop(index_to_drop, axis=0, inplace=True)

In [37]:
def clean_and_convert_columns(df, columns, target_dtype):
    """
    Clean and convert specified columns in a DataFrame to the target data type.

    Args:
        df (pd.DataFrame): DataFrame to clean and convert columns.
        columns (list of str): List of column names to clean and convert.
        target_dtype (type): Target data type to convert columns to.

    Returns:
        pd.DataFrame: Cleaned DataFrame with specified columns converted.
    """
    for column in columns:
        df[column] = df[column].str.replace(',', '')
        df[column] = df[column].astype(target_dtype)
    return df

# Columns to clean and convert
columns_to_clean = service_data.columns  # Replace with the actual column names

# Clean and convert columns to float
service_data = clean_and_convert_columns(service_data, columns_to_clean, float)

In [38]:
service_data.dtypes

Parts Cost            float64
Labor Cost            float64
Sublet Cost           float64
Total Service Cost    float64
dtype: object

In [39]:
def custom_loss_function(y_true, y_pred):
    #define the function here:
    # customer LTV: avg(regular service cost) + avg(add ons cost) + avg(cost of tires) + avg(cost to fix drops)* % likelihood of drop
    #Obsolecence cost: 95% * (cost per unit)
    
    squared_difference = tf.square(y_true - y_pred)
    mean_squared_error = tf.reduce_mean(squared_difference)

    return mean_squared_error

In [40]:
def custom_distance_function(x, y):
    #create custom distance function here
    return None